{% extends 'base.html' %}

{% block title %}Registrar cuenta{% endblock %}

{% block content %}
    <style>
        .register-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }

        .register-form {
            width: 300px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
        }

        .register-form h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        .register-form .form-control {
            font-size: 14px;
        }

        .register-form button {
            width: 100%;
        }
    </style>

    <div class="register-container">
        <div class="register-form">
            <h1>Registrar</h1>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}
                {{ form.as_p }}  <!-- Esto renderiza los campos automáticamente desde el formulario en views.py -->
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
{% endblock %}

